* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #cdcaca;
  line-height: 1.6;
  padding: 20px;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
  z-index: 999;
  position: relative;
  top: 0;
}
.navbar nav ul li {
  list-style: none;
  display: inline;
}
.navbar nav ul li a {
  color: #cdcaca;
  text-decoration: none;
  margin: 0 15px;
  font-weight: bold;
  z-index: 9999;
  transition: 0.3s ease-in-out;
  padding: 5px 10px;
}

.navbar nav ul li a:hover {
  color: #040404;

  transition: 0.3s ease-in-out;
  background: linear-gradient(50deg, #6c49f9, #a556f5, #fff);
  padding: 5px 10px;
  border-radius: 15px;
}
.sidelogo {
  display: none;
}
.sidebar {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 10%;
  left: 0px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  padding: 10px 100px;
}
.sidebar a {
  color: #fff;
  text-decoration: none;
  margin: 10px 0;
  font-weight: bold;
}
.menu {
  display: none;
}

.sidebar a:hover {
  color: #040404;
  transition: 0.3s ease-in-out;
  background: linear-gradient(50deg, #6c49f9, #a556f5, #fff);

  border-radius: 15px;
}
.sidebar ul li {
  list-style: none;
  margin-bottom: 30px;
}

.logo {
  font-size: 14px;
  font-weight: bold;
  position: relative;
  top: -15px;
}

.content {
  width: 1240px;
  height: 850px;
  margin: 20px auto;
  background: linear-gradient(
    to bottom,
    rgb(9, 9, 9),
    rgb(3, 3, 3),
    black,
    #020202,
    black,
    #6c49f9,
    #a556f5,
    #fff
  );
  inset: 20px 20px 60px 0px #d24141;
  border-radius: 100%;
  position: relative;
  top: -610px;
  z-index: -1;
  box-shadow: #a556f5 0px 3px 50px 20px;
  filter: blur(0.5px);
  border: none;
}
.text h1 {
  text-align: center;
  display: block;
  align-items: center;
  margin-left: 50px;
  letter-spacing: 65px;
  font-size: 80px;
  color: #ffffff;
  font-family: "space-grotesk";

  z-index: 9999;
  position: relative;
  top: -650px;

  filter: drop-shadow(0 5px 40px white);
}
.text p {
  text-align: center;
  font-size: 15px;
  color: #ffffff;
  position: relative;
  top: -630px;
  z-index: 9999;
  margin: 0 auto;
  width: 800px;
  filter: drop-shadow(0 5px 20px white);
}
.button {
  text-align: center;
  position: relative;
  top: -605px;
  z-index: 9999;
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s ease-in-out;
}
.button:hover {
  transform: scale(1.1, 1.1);
  transition: 0.3s ease-in-out;
}
.button a {
  text-decoration: none;
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  background: linear-gradient(40deg, #6c49f9, #a556f5, #fff);
  padding: 15px 60px;
  border-radius: 30px;
  box-shadow: #a556f5 0px 5px 10px;
  transition: 1s ease-in;
}
.button a:hover {
  background: linear-gradient(160deg, #fff, #a556f5, #6c49f9);
  transition: 1.3s ease-out;

  box-shadow: #a556f5 0px 5px 20px;
}
.container {
  position: relative;
  width: 100%;
  height: auto;
  top: -590px;
  margin-top: -200px;
  left: -60px;
  z-index: -1;
}
.container .right-image {
  position: absolute;
  left: 1100px;
  width: 150px;
  height: auto;
  z-index: -1;
}
.container .bottom-image {
  position: absolute;
  top: -100px;
  left: 250px;
  width: 220px;
  height: auto;
  z-index: -1;
}
.container .bottomM-image {
  position: absolute;
  top: 100px;
  left: 850px;
  width: 160px;
  height: auto;
  z-index: -1;
  rotate: 80deg;
}

.footer {
  text-align: center;
  color: #cdcaca;

  padding: 20px;
  position: relative;

  z-index: 9999;
}

/*============================================
              ANIMATIONS
==============================================*/
.container {
  animation: float 6s ease-in-out infinite;
}
.container .bottomM-image {
  animation: floatM 5s ease-in-out infinite;
}
.container .bottom-image {
  animation: floatB 4s ease-in-out infinite;
}
.container .right-image {
  animation: floatR 7s ease-in-out infinite;
}
body {
  overflow-x: hidden;
  animation: appearance 2s ease-in-out;
}

.content {
  animation:
    appearancee 3s ease-in-out,
    glow 3s ease-in-out infinite,
    float 4s ease-in-out infinite;
}
.text h1 {
  animation: letter-appear 3.2s ease-in-out;
}
.text p {
  animation: letter-appearr 3.5s ease-in-out;
}
.button a {
  animation: glow 4s ease-in-out infinite;
  border: none;
}

.navbar {
  animation: shown 2s ease-in-out;
}

@keyframes shown {
  0% {
    transform: translateY(900px);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes glow {
  0% {
    box-shadow:
      0 0 5px #a556f5,
      0 0 15px #a556f5,
      0 0 30px #a556f5,
      0 0 60px #a556f5;
  }
  50% {
    box-shadow:
      0 0 20px #7659f8,
      0 0 40px #362963,
      0 0 80px #ed92e1,
      0 0 120px #8778db;
  }
  100% {
    box-shadow:
      0 0 5px #a556f5,
      0 0 15px #a556f5,
      0 0 30px #a556f5,
      0 0 60px #a556f5;
  }
}

@keyframes letter-appearr {
  0% {
    transform: translateX(100px);
    letter-spacing: 1px;
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes letter-appear {
  0% {
    transform: translateX(-100px);
    letter-spacing: 20px;
    opacity: 0;
  }
  100% {
    letter-spacing: 65px;
    opacity: 1;
  }
}

@keyframes appearancee {
  0% {
    transform: translateY(-1000px);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes appearance {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-20px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes floatB {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-15px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes floatM {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-25px);
  }
  100% {
    transform: translatey(0px);
  }
}
@keyframes floatR {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-30px);
  }
  100% {
    transform: translatey(0px);
  }
}
/*============================================
           END OF ANIMATIONS
==============================================*/

/*============================================
              MEDIA QUERIES
=============================================*/

@media (max-width: 365px) {
  body {
    overflow-x: hidden;
    box-sizing: border-box;
  }
  .navbar {
    display: none;
  }
  .sidelogo {
    display: block;
    position: relative;
    top: -30px;
    left: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .sidebar {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    left: 0px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    padding-left: 50px;
    padding-right: 30px;
    z-index: 9999999;
  }
  .menu {
    display: block;
    color: #fff;
    z-index: 99999;
    left: 280px;
    position: relative;
  }

  .container .bottom-image {
    left: 30%;
    width: 25vw;
    top: -900px;
  }
  .content {
    top: -430px;
    width: 370px;
    left: -25px;
    height: 440px;
  }
  .text h1 {
    top: -450px;
    font-size: 40px;
    letter-spacing: 10px;
    left: -40px;
  }
  .text p {
    top: -430px;
    width: 300px;
    font-size: 12px;
    left: -5px;
  }
  .container .left-image {
    position: relative;
    width: 150px;
    top: 140px;

    z-index: -1;
  }
  .container .right-image {
    position: absolute;
    top: 230px;
    left: 280px;
    width: 90px;
  }
  .container .bottom-image {
    position: absolute;
    top: 300px;
    left: 190px;
    width: 60px;
  }
  .container .bottomM-image {
    position: absolute;
    top: 200px;
    left: 60px;
    width: 70px;
    rotate: 80deg;
  }
  .button a {
    position: relative;
    font-size: 14px;
    padding: 10px 30px;
    top: 250px;
  }
  @keyframes letter-appear {
    0% {
      transform: translateY(-100px);
      letter-spacing: 2px;
      opacity: 0;
    }
    100% {
      letter-spacing: 10px;
      opacity: 1;
    }
  }
}
